.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }
}
