<ng-container *ngIf="project === projectType.webUi">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img [src]="avatar" alt="Photo of Shiba Inu">
      </div>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{caption}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="likeEvent()">LIKE</button>
      <button mat-button (click)="shareEvent()">SHARE</button>
      <button mat-button (click)="commentEvent()">COMMENT</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-container *ngIf="project === projectType.coverApp">
  <h1>Cover app implementation</h1>
</ng-container>

<ng-container *ngIf="project === projectType.managerApp">
  <h1>Manager app implementation</h1>
</ng-container>
